{% extends 'front/base.html.twig' %}

{% block title %}Inscription - Ressources relationnelles
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}


{% block banner %}
	<section class="login-banner">
		<div class="banner blue-filter">
			<img src="{{ asset('/build/images/slide-homepage.jpg') }}" alt="Image de fond Page de connexion">
		</div>
	</section>
{% endblock %}

{% block body %}

	<section class="container">
		<div class="container login_form text-center p-4 col-6">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Bonjour
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<h1 class="h3 mb-3 text-center">Connexion</h1>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Adresse e-mail" required autofocus>
				<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				{#
				        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
				        See https://symfony.com/doc/current/security/remember_me.html
				
				        <div class="checkbox mb-3">
				            <label>
				                <input type="checkbox" name="_remember_me"> Remember me
				            </label>
				        </div>
				    #}

				<button class="btn_blue mt-3" type="submit">
					Connexion
				</button>
				<hr>
				<h6 class="p-1">Pas encore de compte?</h6>
				<a href="{{ path('home') }}" class="btn_yellow">Je m'inscris</a>
			</form>
		</div>
	</section>
{% endblock %}
