{% extends 'front/base.html.twig' %}

{% block body %}

	<section class="homepage-banner">
		<div class="banner blue-filter">
			<img src="{{ asset('/build/images/slide-homepage.jpg') }}" alt="Image de fond Page d'accueil">
		</div>
	</section>

	<section class="container">
		<div>Connexion section + inscription ici</div>
	</section>


{% endblock %}


{% block javascripts %}
	{{ encore_entry_script_tags('app') }}

{% endblock %}
