{% extends 'front/base.html.twig' %}

{% block body %}


	<section class="homepage-banner">
		<div class="banner blue-filter">
			<img src="{{ asset('/build/images/slide-homepage.jpg') }}" alt="Image de fond Page d'accueil">
		</div>


		<div class="banner-content container">
			<div class="banner-title">
				<h1>La plateforme pour
					<br/>améliorer vos relations</h1>
			</div>
			<div class="banner-form-inscription">
				test hello blabla</div>
		</div>
	</section>

	<section class="presentation">
		<div class="container">
			<div class="presentation-img">
				<img src="{{ asset('/build/images/img-homepage.png') }}" alt="Image présentation du projet">
			</div>
			<div class="presentation-content">
				<h2>Qu'est-ce que (RE)Sources
					<br>Relationnelles ?</h2>
				<p>(RE)Sources Relationnelles est une plateforme web et mobile centrée sur la création, le partage et l’enrichissements des relations des citoyens pour une meilleure qualités de vie. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</p>
				<div class="presentation-cards">
					<div class="presentation-card catalog">
						<i class="fas fa-folder-open"></i>
						<p>Catalogue de
							<br>
							ressources</p>
					</div>
					<div class="presentation-card ressource">
						<i class="fas fa-folder-plus"></i>
						<p>Créer vos propres
							<br>
							ressources</p>
					</div>
					<div class="presentation-card share">
						<i class="fas fa-users"></i>
						<p>Participer et
							<br>
							inviter vos amis</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="video-section">
		<div class="container">
			<div class="video-text">
				<h2>(RE)Sources
					<br>
					Relationnelles
				</h2>
				<p>Découvrez toutes les ressources mises à votre disposition. En vous inscrivant, vous pourrez créer vos propres ressources, et  participer aux ressources proposées, partager la ressource à vos amis et votre famille. N’attendez plus, rejoignez nous !</p>
			</div>
			<div class="video-content">
				<img src="http://via.placeholder.com/602x355" alt="">
				<a href="#">Consulter les ressources
					<i class="fas fa-chevron-right"></i>
				</a>
			</div>
		</div>
	</section>
{% endblock %}


{% block javascripts %}
	{{ encore_entry_script_tags('app') }}

{% endblock %}
