header {
  font-family: $allerta;
  font-size: 13px;

  .header-nav {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    background-color: $white;

    .navbar {
      background-color: $white !important;

      .navbar-brand {
        img {
          width: 150px;
        }
      }

      .navbar-collapse {
        justify-content: space-around;
        .navigation {
          width: 45%;
          ul {
            justify-content: space-around;
          }
          a {
            color: $primary-blue !important;
            transition: 0.4s;

            &:hover {
              color: $secondary-yellow !important;
            }
          }
        }

        .user {
          &-dashboard {
            background-color: $primary-blue;
            border: 1px solid $primary-blue;
            text-decoration: none;
            border-radius: 8px;
            color: $grey !important;
            padding: 0.5rem 1rem;
            transition: 0.4s;

            &:hover {
              background-color: $grey;
              color: $primary-blue !important;
            }
          }

          &-deconnection {
            background-color: $secondary-yellow;
            border: 1px solid $secondary-yellow;
            text-decoration: none;
            border-radius: 8px;
            color: $grey !important;
            padding: 0.5rem 1rem;
            transition: 0.4s;

            &:hover {
              background-color: $grey;
              color: $secondary-yellow !important;
            }
          }
        }
      }
    }
  }
}
