.header-nav {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  background-color: $white;

  .navbar {
    background-color: $white !important;

    .navbar-brand {
      img {
        width: 150px;
      }
    }

    .navbar-collapse {
      justify-content: flex-end;
      .navigation {
        text-align: center;
        @include media-breakpoint-down(md, $re-breakpoints) {
          width: 100%;
          margin-bottom: 1rem;
        }

        .nav-item {
          margin-right: 2rem;
        }
        a {
          color: $primary-blue !important;
          transition: 0.4s;

          &:hover {
            color: $secondary-yellow !important;
          }
        }
      }

      .user {
        width: 45%;
        @include media-breakpoint-down(md, $re-breakpoints) {
          text-align: center;
          margin: auto;
          display: flex;
          flex-direction: column;
        }
        &-dashboard {
          background-color: $primary-blue;
          border: 1px solid $primary-blue;
          text-decoration: none;
          border-radius: 8px;
          color: $grey !important;
          padding: 0.5rem 1rem;
          margin-right: 0.5rem;
          transition: 0.4s;

          i {
            font-size: 16px;
            margin-left: 0.5rem;
          }

          @include media-breakpoint-down(md, $re-breakpoints) {
            margin-bottom: 1rem;
          }

          &:hover {
            background-color: $grey;
            color: $primary-blue !important;
          }
        }

        &-deconnection {
          background-color: $secondary-yellow;
          border: 1px solid $secondary-yellow;
          text-decoration: none;
          border-radius: 8px;
          color: $grey !important;
          padding: 0.5rem 1rem;
          transition: 0.4s;

          i {
            font-size: 16px;
            margin-left: 0.5rem;
          }

          @include media-breakpoint-down(md, $re-breakpoints) {
            margin-bottom: 2rem;
          }

          &:hover {
            background-color: $grey;
            color: $secondary-yellow !important;
          }
        }
      }
    }
  }
}
