{% extends 'front/base.html.twig' %}

{% block title %}Inscription ! Ressources relationnelles
{% endblock %}

{% block body %}


	<div class="container w-50 d-flex justify-content-between register_form">
		<div class="col-5 p-0">
			<img class="h-100 img-fluid" src="https://picsum.photos/300/300">
		</div>
		<div class="col-7 p-2">
			<h2 class="text-center">Inscription</h2>
			{% if notification %}
				<div class="alert alert-info">{{ notification }}</div>
				<hr>
			{% endif %}
			{{ form(form) }}
			</div>

		</div>
	{% endblock %}
