<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Ressources Relationnelles
		{% endblock %}
	</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('/build/images/favicon.svg') }}"/>
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}
</head>
<body>
<header>
	<div class="header-nav">
		<nav class="navbar container navbar-expand-lg navbar-light bg-light">

			<a class="navbar-brand" href="#"><img src="{{ asset('/build/images/logo.svg') }}"
												  alt="Logo Ressources Relationnelles"></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<div class="navigation">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="#">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Ressources</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
					</ul>
				</div>
				<div class="user">
					{% if app.user %}
						<a class="user-dashboard" href="">Mon tableau de bord</a>
						<a class="user-deconnection" href="{{ path('app_logout') }}">Déconnexion</a>
					{% else %}
						<a class="btn_blue" href="{{ path('app_login') }}">Connexion</a>
						<a class="btn_yellow" href="#">S'inscrire</a>
					{% endif %}
				</div>
			</div>
		</nav>
	</div>
</header>

{% block banner %} {% endblock %}


	{% block body %}{% endblock %}




{% block javascript %}
{{ encore_entry_script_tags('app') }}
{% endblock %}

<footer>
	<img src="{{ asset('/build/images/logo_blanc.svg') }}" alt="Logo Ressources Relationnelles">
</footer>
</body>
</html>


