body {
  font-family: $roboto;
}
.btn_yellow {
  background-color: $secondary-yellow;
  border: 1px solid $secondary-yellow;
  text-decoration: none;
  border-radius: 8px;
  color: $grey !important;
  padding: 0.5rem 1rem;
  transition: 0.4s;

  i {
    font-size: 16px;
    margin-left: 0.5rem;
  }

  @include media-breakpoint-down(md, $re-breakpoints) {
    margin-bottom: 2rem;
  }

  &:hover {
    background-color: $grey;
    color: $secondary-yellow !important;
  }
}

.btn_blue {
  background-color: $primary-blue;
  border: 1px solid $primary-blue;
  text-decoration: none;
  border-radius: 8px;
  color: $grey !important;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  transition: 0.4s;

  i {
    font-size: 16px;
    margin-left: 0.5rem;
  }

  @include media-breakpoint-down(md, $re-breakpoints) {
    margin-bottom: 1rem;
  }

  &:hover {
    background-color: $grey;
    color: $primary-blue !important;
  }
}

.body-dashboard {
  background-color: #e5e5e5;
}
