//import Allerta
@import url("https://fonts.googleapis.com/css2?family=Allerta&display=swap");
//import Rubik
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
//import Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

//variable to call
$allerta: "Allerta", sans-serif;
$rubik: "Rubik", sans-serif;
$roboto: "Roboto", sans-serif;
