/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

$primary-blue: #273c75;
$secondary-yellow: #f6b93b;
$green: #3c6382;
$red: #f95757;
$black: #000000;
$white: #ffffff;
$grey: #f7f7f7;

/*--------------------------------------------------------------
# Breakpoints
-> Exemple d'utilisation: 
@include media-breakpoint-up(md, $re-breakpoints){
}
-> up pour mobile first
--------------------------------------------------------------*/

$re-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1700px,
);
