<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Ressources Relationnelles
			{% endblock %}
		</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('/build/images/favicon.svg') }}"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body class="body-dashboard">
		<header>
			{# Bandeau top bar  #}
			<div class="top-bar container">
				<a href="#">RETOUR VERS L'ACCUEIL</a>
			</div>
			{# SideBar #}
			<div class="page-wrapper chiller-theme toggled">
				<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
					<i class="fas fa-bars"></i>
				</a>
				<nav id="sidebar" class="sidebar-wrapper">
					<div class="sidebar-content">
						<div class="sidebar-brand">
							<img class="mr-3" src="{{ asset('/build/images/logo_blanc.svg') }}" width="130" alt="Logo Ressources Relationnelles">
							<div id="close-sidebar">
								<i class="fas fa-times"></i>
							</div>
						</div>
						<div class="sidebar-header">
							<div class="user-pic">
								<img class="img-responsive img-rounded" src="http://via.placeholder.com/800x800" alt="User picture">
							</div>
							<div class="user-info">
								<span class="user-name">Nom utilisateur</span>
							</div>
						</div>
						<div class="sidebar-menu">
							<ul>
								<li class="sidebar-custom">
									<a href="#">
										<i class="fa fa-tachometer-alt"></i>
										<span>TABLEAU DE BORD</span>
									</a>
								</li>
								<li class="sidebar-dropdown">
									<a href="#">
										<i class="far fa-folder-open"></i>
										<span>MES RESSOURCES</span>
									</a>
									<div class="sidebar-submenu">
										<ul>
											{# Il faut afficher ici la liste des ressources actives du clients 'en cours' #}
											<li>
												<a href="#">RESSOURCES ACTIVES</a>
											</li>
											<li>
												<a href="#">RESSOURCES ACTIVES</a>

											</li>
											<li>
												<a href="#">RESSOURCES ACTIVES</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="sidebar-custom">
									<a href="#">
										<i class="far fa-user"></i>
										<span>MON COMPTE</span>
									</a>
								</li>
								<li class="sidebar-custom">
									<a href="#">
										<i class="fas fa-sign-out-alt"></i>
										<span>DECONNEXION</span>
									</a>
								</li>
							</ul>
						</div>
						<!-- sidebar-menu  -->
					</div>
				</nav>
			</div>
		</header>


		{% block body %}{% endblock %}


		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		<footer class="footer-color">
			<img src="{{ asset('/build/images/logo.svg') }}" alt="Logo Ressources Relationnelles">
		</footer>
	</body>
</html></body></html>
