.login-banner {
  position: relative;

  .banner {
    img {
      max-width: 100vw;
      width: 100vw;
      max-height: 50vh;
      height: 50vh;
      object-fit: cover;
      z-index: 2;
    }

    &:before {
      content: "";
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50vh;
      background: linear-gradient(
                      90deg,
                      rgba(39, 60, 117, 0.5480567226890756) 0%,
                      rgba(39, 60, 117, 0.55) 100%
      );
    }
  }

  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    z-index: 10;

    .banner-title {
      h1 {
        color: $grey;
        font-size: 47px !important;
        line-height: 72px !important;
        font-weight: 400 !important;
        letter-spacing: 4px;
        font-family: $allerta;
      }
    }
  }
}

.presentation {
  margin-top: 4rem;
  margin-bottom: 4rem;

  .container {
    display: flex;
    justify-content: space-between;

    .presentation-content {
      margin-left: 2rem;

      h2 {
        color: $secondary-yellow;
        font-family: $allerta;
      }

      .presentation-cards {
        display: flex;
        justify-content: space-around;
        margin-top: 1.5rem;

        .presentation-card {
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
          text-align: center;
          padding: 1rem;
          max-width: 163px;
          width: 163px;
          border-radius: 15px;

          p {
            margin-top: 0;
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-size: 14px;
          }

          i {
            color: $secondary-yellow;
            font-size: 32px;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

.video-section {
  background-color: $primary-blue;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;

  &::before {
    content: "";
    background-image: url(/build/images/icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.1;
    width: 300px;
    height: 345px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .video-text {
      color: $grey;
    }

    .video-content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-left: 2rem;

      a {
        background-color: $grey;
        border-radius: 10px;
        color: $primary-blue;
        vertical-align: auto;
        text-align: right;
        width: 235px;
        margin-top: 2rem;
        padding: 0.5rem;
        transition: 0.4s;
        text-decoration: none;

        i {
          margin-left: 1rem;
        }

        &:hover {
          background-color: $green;
          color: #f7f7f7;
        }
      }
    }
  }
}
